body {
    background-color: black;
  
}

footer{
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}
.navbar {
    background-color: none;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 120%;
    font-style: normal;
}

#carouselExample {
    position: absolute;
}

#quienesSomos {
    margin-top: 65%;
}

.card-img-top {
    height: 100%;
}

i {
    font-size: 150%;
}

.sticky{
    background-color: #17A2B8;    
    transition: 1s;
    opacity: 0.7;
}

.sticky2{
    background-color: #17A2B8; 
    opacity: 1;
}

