body {
    background-color: black;
}

.navbar {
    background-color: none;
}

#carouselExample {
    position: absolute;
}

#quienesSomos {
    margin-top: 65%;
}

.card-img-top {
    height: 100%;
}

i {
    font-size: 150%;
}

